body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.square {
  height: 200px;
  font-size: 64px;
  text-align: center;
  color: red;
  font-weight: bolder;
  padding: 30px;
}

.b-left {
  border-left: 15px solid #1CDBF5;
}
.b-bottom{
border-bottom: 15px solid #1CDBF5;
}
.b-right {
  border-right: 15px solid #1CDBF5;
}
.b-top {
  border-top: 15px solid #1CDBF5;
}

.clear-button {
  width: max-content;
  margin: 40px auto 10px auto;
}